body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img, button{ margin:0; padding:0; border:0;}
body{ font-size:12px; *overflow-x:hidden; font-family:Arial,"Microsoft YaHei","微软雅黑"; background-color: #fff; color:#666;}
table{ border-collapse:collapse; border-spacing:0;}
input,select,option,textarea{outline: none;}
ol, ul, li{ list-style:none;}
img { vertical-align: top;}
h1, h2, h3, h4, h5, h6{ font-weight:normal;}
i, em { font-style: normal;}
a{ display: inline-block; text-decoration:none; color:#666;}
a:hover{ color:#13bfed; text-decoration:none;}
a:focus{ outline:0px dotted;}
a:focus, input:focus{ -moz-outline-style: none; }
.fl { float:left;}
.fr { float:right;}
.cf {*zoom:1;}
.cf:after { content:""; display:table; clear:both;}
/*icon*/
.icon { display: inline-block; background: url(../images/icon.png) no-repeat; vertical-align: middle;}
.login { background-position: 0 0; width: 16px; height: 20px; margin-right: 10px;}
.register { background-position: -21px 0; width: 16px; height: 20px; margin-right: 10px;}
.tel { background-position: -45px 0; width: 18px; height: 28px; margin-left: 5px;}
.xia { background-position: -98px 0; width: 12px; height: 9px;}
.shop { background-position: -69px 0; width: 23px; height: 25px; margin-right: 10px;}
.huodon { background-position: -205px -70px; width: 285px; height: 72px; margin: 83px 0 0 43px;}
.phone { background-position: -347px -1px; width: 52px; height: 52px; margin-right: 10px;}
.f-shop { background-position: -419px 0; width: 24px; height: 28px;}
.f-jia { background-position: -448px 0; width: 24px; height: 28px;}
.f-faq { background-position: -477px 0; width: 24px; height: 28px;}
.e-gou1 { background-position: 0 -177px; width: 91px; height: 102px;}
.e-gou2 { background-position: -99px -177px; width: 91px; height: 102px;}
.e-gou3 { background-position: -199px -177px; width: 91px; height: 102px;}
/*top*/
.top { margin: 0 auto; width: 100%; height: 39px; border-top: 1px solid #b6b4b6; border-bottom: 1px solid #ddd; background-color: #f4f4f4;}
.top .main { margin: 0 auto; width: 1200px;}
.top .main .t-left { width: 30%; height: 39px; line-height: 39px;}
.top .main .t-left a {margin-left: 15px; border-right: 1px solid #ddd; padding-right: 15px;}
.top .main .t-left a:last-child { border-right: 0;}
.lianbo { color: #4c9ec0;}
.top .main .t-right { width: 60%; height: 39px; line-height: 39px; text-align: right;}
.top .main .t-right a { margin: 0 10px;}
.top .main .t-right span { display: inline-block; margin-left: 10px;}
.top .main .t-right .num { color: #ff9824; font-size: 18px;}
/*header*/
.header { margin: 0 auto; width: 100%; height: 94px; background-color: #fafafa;}
.header .main { margin: 0 auto; width: 1200px;}
.logo { margin: 28px 0 0 6px; width: 370px; height: 48px;}
.logo img { width: 170px; vertical-align: top; border-right: 1px solid #dcdddd; padding-right: 15px;}
.logo span { display: inline-block; margin:4px 0 0 15px; color: #00a0e9; font-weight: 600; font-size: 14px;}
/*search*/
.search { margin: 31px 0 0 33px; width: 554px; height: 36px; border: 2px solid #0ab2e4; border-radius: 2px;}
.search .pro { display: inline-block; width: 99px; border-right: 1px solid #ddd; background-color: #f5f5f5; line-height: 36px;text-align: center; font-size: 14px; cursor: pointer;}
.search .input { width: 334px; padding: 0 10px; line-height: 36px; background-color: #fff;}
.search .btn { width: 100px; line-height: 36px; text-align: center; color: #fff; font-size: 16px; background-color: #0ab2e4; cursor: pointer;}
/*shop*/
.cart { margin-top: 31px; width: 148px; height: 38px; border: 1px solid #ddd; background-color: #f5f5f5; text-align: center; font-size: 16px; color: #333; line-height: 38px;}
.cart .c-num { color: #fc4400;}
/*banner*/
.banner { margin: 6px auto 0; width: 100%; border-top: 1px solid #d8d5cf;}
.banner img { width: 100%; vertical-align: top;}
/*container*/
.container { width: 100%; background-color: #0d63ee;}
.layout { margin: 0 auto; width: 991px;}
.mag { padding-bottom: 20px;}
/*金融授信*/
.credit-cont { width: 100%; background-color: #edf5ff;}
.credit-layout { margin: 0 auto; width: 1200px; background-color: #fff; text-align: center; padding: 80px 0 20px 0;}
.credit-list { margin: 105px auto 0; width: 950px;}
.credit-list .c-l { width: 474px; border-right: 2px solid #1583ff; min-height: 700px;}
.credit-list .c-r { width: 474px;}

.jr1, .jr2, .jr3, .jr4, .jr5 { font-size: 22px; color: #476990; position: relative;}
.jr1 h4, .jr2 h4, .jr3 h4, .jr4 h4, .jr5 h4 { font-size: 30px; color: #005ec8;}
.line1, .line2, .line4 { position: absolute; display: inline-block;}
.line1 { top: 6px; left: 0; width: 66px; height: 28px; background: url(../images/r-y.png) no-repeat;}
.line2 { top: 6px; right: 0; width: 98px; height: 28px; background: url(../images/l-y1.png) no-repeat;}
.line4 { top: 6px; right: 0; width: 52px; height: 28px; background: url(../images/l-y2.png) no-repeat;}
.san1, .san2 { display: inline-block; position: absolute; width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:15px solid #e3ebf8;}
.san1 { top: -15px; left: 40px;}
.san2 { top: -15px; right: 40px;}

.jr1 {text-align: left; padding-left: 80px;}
.jr2 { margin-top: 46px; text-align: right; padding-right: 120px;}
.jr3 { margin-top: 46px; text-align: left; padding-left: 80px;}
.jr3-not, .jr4-not { margin-top: 15px; border: 1px solid #dae7f8;  background-color: #e3ebf8;  position: relative; border-radius: 3px;  box-shadow: 0 5px 30px rgba(0,0,0,0.1);}
.jr3-not { width: 370px; padding: 30px 0 30px 30px;}
.jr4 { margin-top: 46px; text-align: right; padding-right: 70px;}
.jr4-not { width: 390px; padding: 30px 0 30px 10px; text-align: left;}
.jr4-del { display: block; width: 90%; margin: 5px 0; padding: 10px 0 10px 10px; line-height: 30px; background-color: #d4e0f2; font-size: 18px;}
.jr5 { margin-top: 46px; text-align: left; padding-left: 120px;}
/*活动规则*/
.rule { margin: 50px auto 0; width: 1036px; }
.rule h3 {font-size: 30px; font-weight: 600; color: #005ec8; text-align: center; background: url(../images/san.png) no-repeat center bottom; padding-bottom: 10px;}
.rule-cont { margin-top: 20px; background-color: #e3ebf8; color: #476990; font-size: 22px; border-bottom: 6px solid #d4dff1; border-radius: 5px; text-align: left; padding: 20px 0 20px 10px; line-height: 40px;}
.en { display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: #fab30c; color: #fff; font-size: 16px; text-align: center; line-height: 20px; margin-right: 10px;}
/*立即申请*/
.shenqing { margin: 98px auto 0; width: 100%;}
.shenqing a { width: 348px; height: 50px; background-color: #f4dd13; border-radius: 5px; text-align: center; font-size: 20px; font-weight: 600; color: #6c4d0a; line-height: 50px; box-shadow: 0 10px 30px rgba(0,0,0,0.1);}
.shenqing .fuwu { font-size: 16px; color: #5e81a9; margin: 25px 0 60px 0;}
.shenqing .fuwu span {color: #0e7fff;}
.shenqing .banquan { font-size: 16px; color: #769ddc  ;}
/*nav*/
.nav { width: 100%;}
.nav li { float: left; width: 172px; height: 47px; background: url(../images/icon.png) no-repeat; background-position: 0 -38px; text-align: center; margin-left: -12px;}
.nav li a { display: block; color: #fff; font-size: 18px; line-height: 47px; font-weight: 500;}
.nav li:hover, .nav li.active, .nav li.active a, .nav li a:hover { background-position: 0 -91px; color: #075eec;}
.nav li:first-child { margin-left: 0;}
/*Event*/
.event { margin-top: 7px; width: 100%; height: 245px; background: url(../images/index-huodon.png) no-repeat top;  box-shadow: 0 5px 30px rgba(0,0,0,0.1);}
.e-nr { margin: 60px 0 0 20px; width: 520px; color: #476a94; font-size: 14px; line-height: 26px; font-weight: 6  00;}
.e-nr .time { color: #0078fd;}
.e-list { width: 100%; height: 348px; padding-top: 67px; background: url(../images/index-l-bg.jpg) repeat-x;}
.e-list li { float: left; width: 200px; height: 226px; padding-top: 26px; background-color: #fff; opacity:.6; filter: alpha(opacity=60); border-radius: 3px; margin-left: 92px; text-align: center;}
.e-list li a { margin-top: 24px; font-size: 30px; color: #075eec; line-height: 24px;}
.e-list li a span{ font-size: 20px;}
.e-list li:hover {-moz-opacity: 1 !important; filter:alpha(opacity=100); opacity: 1; _-moz-opacity: 1;}
/*采购商入口*/
.purchaser { width: 100%; background: url(../images/n-bg.png) no-repeat top center;}
.p-cont { margin: 0 auto; width: 991px; background:url(../images/index-l-bg.png); text-align: center; padding-bottom: 50px;}
.p-cont h3 { padding: 80px 0 45px 0;}
.tioajian { margin: 0 auto; width: 759px; text-align: left;}
.tioajian li { float: left; width: 253px;}
.tioajian li img { width: 253px; height: 176px;}
.tioajian li .txt { width: 230px; height: 144px; padding: 32px 0 0 23px; position: relative; background-color: #edf5ff;}
.up, .down { display: inline-block; position: absolute; width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; left: 47%; }
.up { top: -10px; border-bottom:10px solid #edf5ff;}
.down { bottom: -10px; border-top:10px solid #edf5ff;}
.t-num1, .t-num2 { position: absolute; width: 20px; height: 24px; top: 0; left: 0; font-size: 20px; color: #edf5ff; text-align: left; padding-left: 4px;}
.t-num1 { background-position: -202px 0;}
.t-num2 { background-position: -237px 0;}
.tioajian li .txt h4 { font-size: 16px; color: #333;}
.tioajian li .txt .t-line { display: inline-block; width: 24px; height: 3px; background-color: #ffb80c;}
.tioajian li .txt .t-line1 { display: inline-block; width: 24px; height: 3px; background-color: #f81b2c;}
.tioajian li .txt p { margin-top: 10px; width: 90%; font-size: 14px; color: #476990;}
.tioajian li .txt p span { color: #f81b2c;}
.tj-btn { margin-top: 40px; width: 128px; height: 29px; text-align: center; font-size: 16px; color: #6c4d0a; font-weight: 600; line-height: 29px; border-radius: 15px;background: linear-gradient(#feec46, #f5e026); border:2px solid #377ee7;}
/*a.tj-btn:hover  { background-color: #d8c401; color: #6c4d0a;}*/
.xianxi { font-size: 20px; color: #fffc0e; font-weight: 600;}
/*弹框*/
.bomb { display: none; top: 50%; right: 11px; width: 538px; height: 190px; background-color: #e7f0fc; border-radius: 5px; z-index: 99; position: fixed; margin-top: -95px; text-align: center;}
.close { background-position: -278px 0; width: 26px; height: 26px; cursor: pointer; float: right; margin: 8px 12px 0 0;}
.bomb a { width: 188px; height: 46px; text-align: center; line-height: 46px;  border-radius: 3px; font-size: 18px; color: #fff; margin: 72px 0 0 10px;}
.gy { background-color: #0070f6;}
.cg { background-color: #fb9e0e;}
/*发票问题*/
.invoice { margin: 0 auto; width: 100%; background: url(../images/wen-bg.jpg) no-repeat top center; padding: 130px 0 180px 0;}
.invoice .i-cont, .invoice .i-conts { margin: 0 auto; width: 990px; text-align: center; color: #46688f; font-size: 20px;}
.invoice .i-cont h3 { margin-bottom: 10px;}
.invoice .i-conts { padding-top: 100px;}
.invoice .i-conts-l { width: 550px;}
.invoice .i-conts-r { width: 420px;}
.invoice .i-conts-l h3, .invoice .i-conts-r h3 { margin-bottom: 40px;}
.invoice .i-conts-l p, .invoice .i-conts-r p { text-align: left; margin-bottom: 10px;}
.invoice .i-conts-l p span, .invoice .i-conts-r p span { display: inline-block; float: right; width: 92%;}
.blue { background-position: -146px 0; width: 21px; height: 21px; text-align: center; color: #fff; line-height: 21px; font-size: 12px;}
/*footer*/
.footer{ width: 100%; background-color: #dbdbdb; border-top: 1px solid #0d66f8;}
.foot-cont { margin: 0 auto; width: 1200px;}
.foot-menu { width: 100%; padding: 35px 0 35px 0;}
.f-menu1 { width: 320px;}
.f-tel { height: 52px; margin-bottom: 30px; color: #9d9d9d; font-size: 16px;}
.f-tel .hot{ color: #666; font-size: 24px; line-height: 30px;}
.f-logo { display: block; width: 175px; height: 55px; background: url(../images/foot-logo.jpg) no-repeat;}
.f-menu2 { width: 880px;}
.f-menu2 li { float: left; width: 20%;}
.f-menu2 li h3 { color: #000; margin-bottom: 5px; font-size: 18px;}
.f-menu2 li a { padding-left: 36px; display: block; line-height: 26px; color: #4d4d4d; font-size: 14px;}
.f-menu2 li a:hover{ color:#13bfed;}
.f-menu2 li:last-child { margin-left: 100px; width: 160px; height: 190px; text-align: center; line-height: 30px; color: #4d4d4d;}
.foot-copy { width: 100%; border-top: 1px solid #cdcdcd; padding: 20px 0;}
.foot-copy .copy-l { width: 800px; line-height: 22px;}
.foot-copy .copy-r { width: 300px; text-align: right;}
.foot-copy .copy-r a { height: 31px; margin-left: 8px;}
